<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App</title>
    <style>
        #error {
            display: none;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 300px;
        }
        li {
            clear: both;
        }
        li button {
            -webkit-appearance: none;
            border: none;
            outline: none;
            color: red;
            float: right;
            cursor: pointer;
            font-size: 20px;
        }
        .lists-wrapper, .todos-wrapper {
            display: inline-block;
            vertical-align: top;
        }
    </style>
    
</head>
<body>
    <div class="lists-wrapper">
        <form id="list_form">
            <input type="text" id="name"/>
            <input type="submit" value="Add"/>
        </form>
        <div id="error" class="hidden"> Something Went Wrong!</div>
        <ul>
            {% for list in lists %}
            <li>
                <input class="check-completed-list" data-id="{{ list.id }}" type="checkbox" {% if list.completed %} checked {% endif %} />

                <a href="/lists/{{ list.id}}">
                    {{ list.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="todos-wrapper">
        <h4>{{ active_list.name }}</h4>
        <form id="form">
            <input type="text" id="description"/>
            <input type="submit" value="create"/>
        
        </form>
            <div id="error" class="hidden"> Something Went Wrong!</div>
            <ul id="todos">
                {% for todo in todos %}
                <li>
                    <input class="check-completed" data-id="{{ todo.id }}" type="checkbox" {% if todo.completed %} checked {% endif %} />
                    {{ todo.description }}
                    <button class="delete-button" data-id="{{ todo.id }}">&cross;</button>
                </li>
                {% endfor %}
            </ul>
    </div>

    <script>
        const deleteBtns = document.querySelectorAll('.delete-button');
        for (let i = 0; i < deleteBtns.length; i++) {
            const btn = deleteBtns[i];
            btn.onclick = function(e) {
            const todoId = e.target.dataset['id'];
            fetch('/todos/' + todoId, {
                method: 'DELETE'
          })
          .then(function() {
            const item = e.target.parentElement;
            item.remove();
          })
        }
      }

        const checkboxs = document.querySelectorAll('.check-completed');
        for(let i = 0; i< checkboxs.length; i++){
            const checkbox = checkboxs[i];
            checkbox.onchange = function(event){
                const newCompleted = event.target.checked;
                const todoId = event.target.dataset['id'];
                fetch('/todos/' + todoId + '/set-completed', {
                    method: 'POST',
                    body: JSON.stringify({
                        'completed': newCompleted
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }   
                })
                .then(function(){
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function(){
                document.getElementById('error').className = '';
                })
            }
        }
        document.getElementById('form').onsubmit = function(event){
            event.preventDefault();
            fetch('/todos/create', {
                method: 'POST',
                body: JSON.stringify({
                    'description': document.getElementById('description').value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(function(response){
                return response.json();
            })
            .then(function(jsonResponse){
                const liItem = document.getElementById('todos');
                liItem.innerHTML = jsonResponse['description'];
                document.getElementById('todos').append(liItem);
                document.getElementById('error').className = 'hidden';
            })
            .catch(function(error){
                document.getElementById('error').className = '';
            })
        }

// Todo list ajax calls

const checkboxs_list = document.querySelectorAll('.check-completed-list');
    for(let i = 0; i< checkboxs_list.length; i++){
        const box_list = checkboxs_list[i];
        box_list.onchange = function(event){
            const newCompleted = event.target.checked;
            const listId = event.target.dataset['id'];
            fetch('/todos/' + listId + '/set-completed', {
                method: 'POST',
                body: JSON.stringify({
                    'completed': newCompleted
                }),
                headers: {
                    'Content-Type': 'application/json'
                }   
            })
            .then(function(){
                document.getElementById('error').className = 'hidden';
            })
            .catch(function(){
            document.getElementById('error').className = '';
            })
        }
    }
        document.getElementById('list_form').onsubmit = function(event){
            event.preventDefault();
            fetch('/todos/create_list', {
                method: 'POST',
                body: JSON.stringify({
                    'name': document.getElementById('name').value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(function(response){
                return response.json();
            })
            .then(function(jsonResponse){
                const liItem = document.getElementById('lists');
                liItem.innerHTML = jsonResponse['name'];
                document.getElementById('lists').append(liItem);
                document.getElementById('error').className = 'hidden';
            })
            .catch(function(error){
                document.getElementById('error').className = '';
            })
        }
    </script>
</body>
</html>